@model OpenShopVHBackend.Models.DeviceUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesPersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintBluetoothAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintBluetoothAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceUserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
