@model IEnumerable<OpenShopVHBackend.Models.DeviceUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesPersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintBluetoothAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DebtCollerctor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesPersonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintBluetoothAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DebtCollerctor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceUserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeviceUserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceUserId })
        </td>
    </tr>
}

</table>
