@using Resources

<div class="page-sidebar" id="main-menu">
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
            <!--
             <div class="profile-wrapper">
                 <img src='@Url.Content("~/Content/assets/img/profiles/avatar.jpg")' alt="" data-src='@Url.Content("~/Content/assets/img/profiles/avatar.jpg")' data-src-retina='@Url.Content("~/Content/assets/img/profiles/avatar2x.jpg")' width="69" height="69" />
             </div>
            <div class="user-info">
                 <div class="greeting">Welcome</div>
                 <div class="username">John <span class="semi-bold">Smith</span></div>
                 <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
             </div>-->
        </div>
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">@Resources.Browse<span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
        <ul>
            <!-- BEGIN SELECTED LINK -->
            <li class="start active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="icon-custom-home"></i>
                    <span class="title">@Resources.Dashboard</span>
                    <span class="selected"></span>
                    <!--<span class="badge badge-important pull-right">@ViewBag.DeviseUnavailableCount</span>-->
                </a>
            </li>
            <li class="">
                <a href="javascript:;"> <i class="fa fa-user"></i> <span class="title">@Resources.Products</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("Index", "Brands")"> @Resources.Brands </a></li>     
                    <li><a href="@Url.Action("Index", "Products")"> @Resources.Products </a> </li>
                    <li><a href="@Url.Action("Index", "ProductVariants")"> @Resources.Variants </a> </li>
                    <li><a href="@Url.Action("Index", "Categories")"> @Resources.Categories </a></li>     
                    <li><a href="@Url.Action("Index", "Colors")"> @Resources.Colors </a> </li>
                    <li><a href="@Url.Action("Index", "Sizes")"> @Resources.Sizes </a></li>
                </ul>
            </li>
             <li class="">
                <a href="javascript:;"> <i class="fa fa-user"></i> <span class="title">@Resources.OrdersAndPayments</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("Index", "Clients")"> @Resources.Clients </a></li>     
                    <li><a href="@Url.Action("Index", "Orders")"> @Resources.Orders </a> </li>
                    <li><a href="@Url.Action("Index", "Payments")"> @Resources.Payments </a> </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;"> <i class="fa fa-unlock-alt"></i> <span class="title">@Resources.Security</span> <span class="arrow "></span> </a>
                <ul class="sub-menu">
                    <li> <a href="@Url.Action("Index", "Users")"> @Resources.Users </a> </li>
                    <li> <a href="@Url.Action("Index", "Roles")"> @Resources.Roles </a> </li>
                    <li> <a href="@Url.Action("Index", "DeviceUsers")"> @Resources.DeviceUsers </a> </li>            
                </ul>
            </li>
            <!-- END SELECTED LINK -->
            <!-- END TWO LEVEL MENU -->
        </ul>
        <!-- END SIDEBAR MENU -->
        <div class="clearfix"></div>
        <!-- END SIDEBAR WIDGETS -->
    </div>
</div>
