@model IEnumerable<OpenshopBackend.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cash.GeneralAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transfer.ReferenceNumber)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastErrorMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cash.GeneralAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transfer.ReferenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastErrorMessage)
        </td>
        <td>
            @Html.ActionLink("Process", "Process", new { id = item.PaymentId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentId })
        </td>
    </tr>
}

</table>
