@model OpenShopVHBackend.Models.ProductVariant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductVariant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCommitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCommitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductVariantId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
