@model OpenShopVHBackend.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cash.GeneralAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cash.GeneralAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfer.ReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfer.ReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocEntry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
